// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

//temporary styles

@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.header-featured-image {
  max-height: 300px;
  overflow: hidden;
  img {
    max-width:100%;
    height:auto
  }
}